<!-- <a href="/bikes" class="brand-logo left">bikes</a>
<ul class="right">
 <li><a href="/bikes/new">new Bike</a></li>
  <if (currentUser) {%>
    <li>Welcome <=currentUser.username%></li>
    <li><form action="/sessions?_method=DELETE" method="POST">
      <input type="submit" value="Log Out" class="btn-small red" />
    </form>
    </li>
<} else{%>
    <li><a href="/users/new">Sign Up</a> </li>
    <li><a href="/sessions/new">Log In</a> </li>
  <}%>
</ul> -->

<img src="https://i.pinimg.com/originals/b9/78/93/b978935f27d51f746a85602b4a5f5239.jpg" class="img-fluid" alt="Responsive image" width= "100% \9"; >
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #aba4a4;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<h4><a href="/bikes" class="brand-logo left">Dream Engines</a></h4>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <h4><a class="nav-link"  href="/bikes/new">Add New Bike<span class="sr-only"></span></a></h4>
      </li>
      <%if (currentUser) {%>
      <li class="nav-item">
        <h3>..."Hey <%=currentUser.username%>"...</h3>
      </li>
      <li class="nav-item">
        <form action="/sessions?_method=DELETE" method="POST" >
          <input type="submit" value="Log Out" class="btn-small red" />
        </form>
      </li>
      <%} else{%>
        <li class="nav-item active">
          <h4><a class="nav-link"  href="/users/new">Make Acc<span class="sr-only">(current)</span></a></h4>
        </li>
        <li class="nav-item active">
          <h4><a class="nav-link"  href="/sessions/new">Log In<span class="sr-only">(current)</span></a></h4>
        </li>
        <%}%>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
