body {
  background-image: url(https://performancemarks.files.wordpress.com/2014/03/sometimes-its-good-to-be-up-in-the-clouds.jpg);
  background-size: 200%;
  background-position: center;
  background-blend-mode: color-burn;
}
