<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <%- include ('../partials/bikes_head.ejs') %>
  </head>
  <body class="show">
    <h1><a href="/bikes/">Adding Bikes now click here !!!....</a></h1>

  </body>
</html>
