<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>




    <link rel="stylesheet" href="/yup.css">

  </head>
  <body>
    <h1>Welcome to Dream Engines</h1>
    <div class="container">
      <div class="row">
        <div class="pic">
          <img src="/img/dream_engines1.png" alt="">
        </div>
        <div class="info">
          <h3>About</h3>

          <p>* For the motorcycle enthusiast. <br>
            * Dream Engines is a place to store and veiw your favorite dream bikes.<br>
            * All you have to do to start is to simply make a username and password.<br>
            * Then you are able to add as many bikes as you would like to your list.  On the main page you are able to view your lists in a neat two column setup. Here you can also delete or add a sample list of bikes.
          </p>
        </div>

      </div>
      <div class="row">
        <div class="pic">
          <img src="/img/dream_engines2.png" alt="">
        </div>
        <div class="info">
          <h3>Show Page</h3>
          <p>* You can navigate to the Show page by clicking on the picture or title of a bike, here you can edit or view more info on your bike.<br>
            Like:<br>
            * Title <br>
            * Picture <br>
            * Manufacture <br>
            * Descriptions <br>
            * Price <br>
            * Comments <br>

          </p>
        </div>
      </div>

    </div>
    <h2>
    <a href="/bikes">Rev.. on In!!</a></h2>
  </body>
</html>
